<% if record.errors.any? %>
  <div class="errors">
    <strong>Please fix the following:</strong>
    <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
